.aladin-regular {
	font-family: "Aladin", system-ui;
	font-weight: 400;
	font-style: normal;
}

.agbalumo-regular {
	font-family: "Agbalumo", system-ui;
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: 'Agbalumo';
	/* background-color: blueviolet; */
}

h1 {
	font-family: 'Aladin';
	background-color: indianred;
	/* height: 600px; */
	
}

main {
	margin: auto;
	width: auto;
	height: 525px;
	display: flex;
	justify-content: center;
}

#left {
	width: 500px;
	height:500px;
	background-color: lightgrey;
	border-radius: 20%;
	text-align: center;
}
#right {
	width: 500px;
	height:500px;
	background-color: lightgreen;
	border-radius: 20%;
	text-align: center;
}
p {
	text-align: center;
}

/* Colour Changing Code for script.js Function */
#yellow {
	background-color: lightyellow;
}
#pink {
	background-color: lightpink;
}
#blue {
	background-color: lightblue;
}
#orange {
	background-color: lightsalmon;
}
#green {
	background-color: lightgreen;
}
#red {
	background-color: lightcoral;
}
#brown {
	background-color: #c19a6b;
}
#darkBrown {
	background-color: #987654;
	color: antiquewhite;
}